k8s {
 namespace = 'medgen-ns'
 runAsUser = 1000
// storageClaimName = 'pvc-janek-storage-elixir1-cerit-sc-cz'
storageClaimName = 'pvc-jans-storage-elixir1-cerit-sc-cz'
storageMountPath = '/mnt'
 launchDir = '/mnt/home/450402/000000-My_Documents/QC_k8s_testing/launch'
 projectDir = '/mnt/home/450402/000000-My_Documents/QC_k8s_testing/project'
 workDir = '/mnt/home/450402/000000-My_Documents/QC_k8s_testing/work'
}

params {
 refindex  = '/mnt/shared/999993-Bioda/data/ssd_3/references/homsap/GRCh38-p10/index/BWA/GRCh38-p10'
 ref       = '/mnt/shared/999993-Bioda/data/ssd_3/references/homsap/GRCh38-p10/seq'

 seqstats = "${k8s.projectDir}/xsvato01/QC_cmbg/src/beds/Seq_stats.txt"
 covbed    = "${k8s.projectDir}/xsvato01/QC_cmbg/src/beds/Capture_targets_merged_nochr.bed"

 coverstat = "${k8s.projectDir}/xsvato01/QC_cmbg/src/utils/coverage_samples_exon.R"
 covcompare = "${k8s.projectDir}/xsvato01/QC_cmbg/src/utils/coverage_compare.R"

}

executor {
 queueSize =  10
}

process {
 container = 'registry.gitlab.ics.muni.cz:443/450402/qc_cmbg:19'
 scratch = true
 executor = 'k8s'
 cpus = 4
 memory = 8.GB

  withName: 'COVERAGE_STATS:MULTIQC' {
   cpus = 6
   memory = 20.GB
 }
 pod = [[securityContext:[fsGroupChangePolicy:'OnRootMismatch', runAsUser:1000, runAsGroup:1, fsGroup:1]], [nodeSelector:'storage=local-ssd'], [imagePullSecrets:'docker-registry-cred']]
}
