k8s {
 namespace = 'medgen-ns'
 runAsUser = 1000
// storageClaimName = 'pvc-janek-storage-elixir1-cerit-sc-cz'
storageClaimName = 'pvc-janlambshare-storage-elixir1-cerit-sc-cz'
storageMountPath = '/mnt'
 computeResourceType = 'Job'
 launchDir = '/mnt/home/450402/000000-My_Documents/QC_CMBG/launch'
 projectDir = '/mnt/home/450402/000000-My_Documents/QC_CMBG/project'
 workDir = '/mnt/home/450402/000000-My_Documents/QC_CMBG/work'
}

params {
 refindex  = '/mnt/shared/999993-Bioda/data/ssd_3/references/homsap/GRCh38-p10/index/BWA/GRCh38-p10'
 ref       = '/mnt/shared/999993-Bioda/data/ssd_3/references/homsap/GRCh38-p10/seq'
 refgpu	 = '/mnt/home/450402/000000-My_Documents/pbrun_grch38/GRCh38-p10.fasta'
 seqstats = "${k8s.projectDir}/xsvato01/QC_cmbg/src/beds/Seq_stats.txt"
 //covbed    = "${k8s.projectDir}/xsvato01/QC_cmbg/src/beds/Capture_targets_merged_nochr.bed"
  covbed    = "${k8s.projectDir}/xsvato01/QC_cmbg/src/beds/NOHA23_merged_re.bed"

  Atero23_re    = "${k8s.projectDir}/xsvato01/QC_cmbg/src/beds/Atero23_re.bed"
  CFTR23_re    = "${k8s.projectDir}/xsvato01/QC_cmbg/src/beds/CFTR23_re.bed"
  FertiM23_re    = "${k8s.projectDir}/xsvato01/QC_cmbg/src/beds/FertiM23_re.bed"
  FertiZ23_re    = "${k8s.projectDir}/xsvato01/QC_cmbg/src/beds/FertiZ23_re.bed"
  Hemato23_re    = "${k8s.projectDir}/xsvato01/QC_cmbg/src/beds/Hemato23_re.bed"
  Prekon23_re    = "${k8s.projectDir}/xsvato01/QC_cmbg/src/beds/Prekon23_re.bed"
  Fialka23    = "${k8s.projectDir}/xsvato01/QC_cmbg/src/beds/fialka23StarTab.bed"
  Pank23    = "${k8s.projectDir}/xsvato01/QC_cmbg/src/beds/pank23StarTab.bed"




 coverstat = "${k8s.projectDir}/xsvato01/QC_cmbg/src/utils/coverage_samples_exon.R"
 covcompare = "${k8s.projectDir}/xsvato01/QC_cmbg/src/utils/coverage_compare.R"

}

executor {
 queueSize =  20
}

process {
 container = 'registry.gitlab.ics.muni.cz:443/450402/qc_cmbg:26'
 scratch = true
 executor = 'k8s'
 cpus = 1
 memory = 2.GB

  withName: 'COVERAGE_STATS' {
   cpus = 4
   memory = 24.GB
 }

   withName: 'ALIGN_CPU' {
   cpus = 4
   memory = 8.GB
 }
 pod = [[securityContext:[fsGroupChangePolicy:'OnRootMismatch', runAsUser:1000, runAsGroup:1, fsGroup:1]], [nodeSelector:'storage=local-ssd']]

// pod = [[securityContext:[fsGroupChangePolicy:'OnRootMismatch', runAsUser:1000, runAsGroup:1, fsGroup:1]], [nodeSelector:'storage=local-ssd'], [imagePullSecrets:'docker-registry-cred']]

}
