k8s {
 namespace = 'svaton-ns'
 runAsUser = 1000
 storageClaimName = 'pvc-janek-storage-elixir1-cerit-sc-cz'
 storageMountPath = '/mnt'
 launchDir = '/mnt/home/450402/000000-My_Documents/QC_k8s_testing/launch'
 projectDir = '/mnt/home/450402/000000-My_Documents/QC_k8s_testing/project'
 workDir = '/mnt/home/450402/000000-My_Documents/QC_k8s_testing/work'
}

params {
 refindex  = '/mnt/shared/999993-Bioda/data/ssd_3/references/homsap/GRCh37-p13/index/BWA/GRCh37-p13'
 ref       = '/mnt/shared/999993-Bioda/data/ssd_3/references/homsap/GRCh37-p13/seq/GRCh37-p13'
 vep       = '/mnt/shared/999993-Bioda/data/ssd_3/references/homsap/GRCh37-p13/vep/'

 covbed    = "${k8s.projectDir}/xsvato01/QC_cmbg/src/beds/BTK_PLCG2_corr.bed"
 covbedpicard    = "${k8s.projectDir}/xsvato01/QC_cmbg/src/beds/BTK_PLCG2_corr_picard.bed"
 varbed    = "${k8s.projectDir}/xsvato01/QC_cmbg/src/beds/BTK_PLCG2_corr_toVardict.bed"
 
 coverstat = "${k8s.projectDir}/xsvato01/QC_cmbg/src/utils/coverage_samples_exon.R"
 vcf_simplify = "${k8s.projectDir}/xsvato01/QC_cmbg/src/utils/vcf-simplify.py"

}

executor {
 queueSize = 4
}

process {
 container = 'registry.gitlab.ics.muni.cz:443/450402/qc_cmbg:1'
 scratch = true
 executor = 'k8s'
 cpus = 2
 memory = '6GB'
 pod = [[securityContext:[fsGroupChangePolicy:'OnRootMismatch', runAsUser:1000, runAsGroup:1, fsGroup:1]], [nodeSelector:'storage=local-ssd']]
}
